$dark-navy: #03045e;
$navy: #023e8a;
$light-navy: #0077b6;
$very-light-navy: #0096c7;
$blue: #00b4d8;
$cyan: #48cae4;
$light-cyan: #90e0ef;
$very-light-cyan: #ade8f4;
$blues: #caf0f8;
$white: #fff;
$black: #000;
