@use 'colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	padding-top: 3.2em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.head-title {
	position: relative;
	margin: 2em 0em;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: c.$navy;
}

// header
.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	width: 100%;
	background-color: c.$navy;
	z-index: 1000;

	.navbar {
		position: relative;
		padding: 1em;

		.brand-logo {
			a {
				text-decoration: none;
				font-size: 2.2rem;
				color: c.$white;
				transition: color 0.3s;

				&:hover {
					color: c.$blues;
				}
			}

			i {
				font-size: 2.8rem;
			}
		}

		.hamburger {
			position: absolute;
			top: 2.2em;
			right: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner:before,
			&-inner:after {
				background-color: c.$white;
				z-index: 500;
			}

			&:focus {
				outline: none;
			}
		}

		.nav {
			&-desktop {
				display: none;
			}

			&-mobile {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: c.$navy;
				overflow: scroll;
				transform: translateX(-102%);
				transition: transform 0.3s;
				z-index: 10;

				&--active {
					transform: translateX(0);
				}
			}

			&__link {
				position: relative;
				display: inline-block;
				margin: 0.5em 0em;
				padding: 0.5em 1em;
				text-decoration: none;
				font-size: 1.4rem;
				color: c.$white;
				transition: font-weight 0.3s, transform 0.3s;

				&:hover {
					font-weight: bold;
					transform: scale(1.2);
				}
			}
		}
	}
}

//hero-banner
.hero-banner {
	position: relative;
	height: 50vh;
	background-image: url('../../dist/img/header-img-small.jpg');
	background-size: cover;
	background-position-y: 50%;
	z-index: 0;

	.hero__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(7, 22, 46, 0.668);
		z-index: -1;
	}

	.hero__text {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		padding: 3em 1.5em;
		width: 100%;
		height: 100%;
		color: c.$white;
		z-index: 1;

		p {
			margin-bottom: 0.3em;
			font-size: 1.5rem;
		}

		h1 {
			font-size: 2.2rem;
		}
	}
}

//aboutus
.aboutus {
	padding: 0em 1em;

	&-text {
		.para-text {
			margin-bottom: 1.2em;
			font-size: 1.5rem;
			line-height: 1.7em;

			.bold {
				font-weight: bold;
			}
		}
	}

	.images-section {
		display: flex;
		flex-direction: column;
		margin-top: 1.5em;

		.img-box {
			display: flex;
			justify-content: center;
			align-items: center;

			.img {
				margin-bottom: 1em;
				width: 100%;
				border-radius: 0.8em;
				filter: saturate(0);
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

@media (min-width: 568px) {
	// header
	.header {
		.navbar {
			.brand-logo {
				a {
					font-size: 2.7rem;
				}

				i {
					font-size: 3.5rem;
				}
			}

			.nav {
				&__link {
					font-size: 1.6rem;
				}
			}
		}
	}

	//hero-banner
	.hero-banner {
		height: 70vh;
		background-position-y: 5%;

		.hero__text {
			p {
				font-size: 1.7rem;
			}

			h1 {
				font-size: 2.7rem;
			}
		}
	}

	.head-title {
		font-size: 2.3rem;
	}

	//aboutus
	.aboutus {
		padding: 0em 2em;

		&-text {
			.para-text {
				font-size: 1.6rem;
				line-height: 2em;
			}
		}

		.images-section {
			.img-box {
				.img {
					margin-bottom: 1.5em;
					width: 90%;

					&:hover {
						transform: scale(1.03);
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	//hero-banner
	.hero-banner {
		height: 55vh;

		.hero__text {
			p {
				font-size: 1.8rem;
			}

			h1 {
				font-size: 3.2rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 2em;

		.head-title {
			font-size: 2.5rem;
		}

		.images-section {
			margin: 1.5em 0em;

			.img-box {
				.img {
					margin-bottom: 1.5em;
					width: 80%;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	// header
	.header {
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0em 1em;

			.hamburger {
				display: none;
			}

			.nav {
				&-desktop {
					display: flex;
				}

				&-mobile {
					display: none;
				}

				&__link {
					margin: 0em;
					padding: 2em 1.8em;
					font-size: 1.5rem;
					transition: background-color 0.3s, color 0.3s, font-weight 0.3s, transform 0.3s;

					&:hover {
						background-color: c.$white;
						color: c.$black;
						font-weight: normal;
						transform: scale(1);
					}
				}
			}
		}
	}

	//hero-banner
	.hero-banner {
		background-image: url('../../dist/img/header-img-big.jpg');

		.hero__text {
			p {
				margin-bottom: 0.1em;
				font-size: 2.2rem;
			}

			h1 {
				font-size: 3.8rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 3em;

		.head-title {
			font-size: 2.7rem;
		}

		.images-section {
			flex-direction: row;
			margin: 2em 0em;

			.img-box {
				.img {
					margin: 0em 2em;
					width: 95%;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	//hero-banner
	.hero-banner {
		height: 55vh;
		background-size: cover;
		background-position-y: 10%;
	}
}
