@use 'colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 125px;
}

body {
	padding-top: 3.2em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.head-title {
	position: relative;
	margin: 2em 0em;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: c.$navy;
}

.bold {
	font-weight: bold;
}

// header
.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	width: 100%;
	background-color: c.$navy;
	z-index: 1000;

	.navbar {
		position: relative;
		padding: 1em;

		.brand-logo {
			a {
				text-decoration: none;
				font-size: 2.2rem;
				color: c.$white;
				transition: color 0.3s;

				&:hover {
					color: c.$blues;
				}
			}

			i {
				font-size: 2.8rem;
			}
		}

		.hamburger {
			position: absolute;
			top: 2.2em;
			right: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner:before,
			&-inner:after {
				background-color: c.$white;
				z-index: 500;
			}

			&:focus {
				outline: none;
			}
		}

		.nav {
			&-desktop {
				display: none;
			}

			&-mobile {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: c.$navy;
				overflow: scroll;
				transform: translateX(-102%);
				transition: transform 0.3s;
				z-index: 10;

				&--active {
					transform: translateX(0);
				}
			}

			&__link {
				position: relative;
				display: inline-block;
				margin: 0.5em 0em;
				padding: 0.5em 1em;
				text-decoration: none;
				font-size: 1.4rem;
				color: c.$white;
				transition: font-weight 0.3s, transform 0.3s;

				&:hover {
					font-weight: bold;
					transform: scale(1.2);
				}
			}
		}
	}
}

//hero-banner
.hero-banner {
	position: relative;
	height: 50vh;
	background-image: url('../../dist/img/header-img-small.jpg');
	background-size: cover;
	background-position-y: 50%;
	z-index: 0;

	.hero__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(7, 22, 46, 0.668);
		z-index: -1;
	}

	.hero__text {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		padding: 3em 1.5em;
		width: 100%;
		height: 100%;
		color: c.$white;
		z-index: 1;

		p {
			margin-bottom: 0.3em;
			font-size: 1.5rem;
		}

		h1 {
			font-size: 2.2rem;
		}
	}
}

//aboutus
.aboutus {
	padding: 0em 1em;

	&-text {
		.para-text {
			margin-bottom: 1.2em;
			font-size: 1.5rem;
			line-height: 1.7em;
		}
	}

	.images-section {
		display: flex;
		flex-direction: column;
		margin-top: 1.5em;

		.img-box {
			display: flex;
			justify-content: center;
			align-items: center;

			.img {
				margin-bottom: 1em;
				width: 100%;
				border-radius: 0.8em;
				filter: saturate(0);
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}

//calculators
.calculators {
	padding: 0em 1em;

	.head-title {
		.fa-calculator {
			margin-right: 0.2em;
		}
	}

	.about-calculator {
		margin-bottom: 1em;
		font-size: 1.5rem;
		line-height: 1.7em;
	}

	.links-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.link {
			display: inline-block;
			text-align: center;
			margin: 0.5em;
			padding: 0.7em 1.5em;
			width: 95%;
			font-size: 1.5rem;
			font-weight: bold;
			text-decoration: none;
			background-color: c.$blue;
			color: c.$white;
			border-top-right-radius: 1.3em;
			border-bottom-left-radius: 1.3em;
			cursor: pointer;
			transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;

			&:hover {
				background-color: c.$light-navy;
				border-radius: 1.3em;
				transform: scale(1.1);
			}
		}
	}
}

//contact
.contact {
	margin-top: 3em;
	padding: 0em 1em;

	.head-title {
		margin-bottom: 1.5em;
	}

	.sub-title {
		margin-bottom: 2em;
		text-align: center;
		font-size: 1.6rem;
		font-weight: bold;
		color: c.$light-navy;
	}

	.contact-box {
		.contact-dates {
			.data-container {
				margin: 1em 0em;
				padding: 2em;
				background-color: c.$black;
				border-radius: 0.8em;

				.link,
				.phone-number,
				.email-adres {
					color: c.$white;

					.fa-solid {
						margin-right: 0.2em;
					}
				}

				.title {
					margin-bottom: 1em;
					padding-bottom: 0.2em;
					font-size: 1.7rem;
					text-align: center;
					text-transform: uppercase;
					color: c.$white;
					border-bottom: 1px solid white;
				}

				.social-media {
					display: flex;
					justify-content: space-evenly;

					.fa-instagram:hover {
						color: c.$instagram;
					}
					.fa-twitter:hover {
						color: c.$twitter;
					}
					.fa-youtube:hover {
						color: c.$youtube;
					}

					.link {
						margin-bottom: 0.5em;
						font-size: 2.8rem;
						text-decoration: none;
						cursor: pointer;
						transition: color 0.3s, transform 0.3s;

						&:hover {
							transform: scale(0.95);
						}
					}
				}

				.other-data {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.phone-number,
					.email-adres {
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 0.5em;

						.fa-solid {
							margin-right: 0.5em;
							font-size: 2.5rem;
						}
					}
				}
			}
		}

		.adress {
			margin-top: 3em;
			margin-bottom: 1em;
			font-size: 1.6rem;
			font-weight: bold;
			text-align: center;
			color: c.$light-navy;
		}

		.map {
			margin-bottom: 2em;
			width: 100%;
			border-radius: 0.8em;
		}
	}
}

// footer
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1em;
	background-color: c.$navy;
	
	&__top {
		display: none;
	}
	
	.line {
		display: none;
	}
	
	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;
		color: c.$white;
		font-size: 1.4rem;
	}
}

@media (min-width: 568px) {
	.head-title {
		font-size: 2.3rem;
	}

	// header
	.header {
		.navbar {
			.brand-logo {
				a {
					font-size: 2.7rem;
				}

				i {
					font-size: 3.5rem;
				}
			}

			.nav {
				&__link {
					font-size: 1.6rem;
				}
			}
		}
	}

	//hero-banner
	.hero-banner {
		height: 70vh;
		background-position-y: 5%;

		.hero__text {
			p {
				font-size: 1.7rem;
			}

			h1 {
				font-size: 2.7rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 2em;

		&-text {
			.para-text {
				font-size: 1.6rem;
				line-height: 2em;
			}
		}

		.images-section {
			.img-box {
				.img {
					margin-bottom: 1.5em;
					width: 90%;

					&:hover {
						transform: scale(1.03);
					}
				}
			}
		}
	}

	//calculators
	.calculators {
		padding: 0em 2em;

		.about-calculator {
			margin-bottom: 1.3em;
			font-size: 1.6rem;
			line-height: 2em;
		}

		.links-box {
			.link {
				padding: 1.2em 1.5em;
				width: 90%;
				font-size: 1.6rem;
			}
		}
	}

	//contact
	.contact {
		margin-top: 4em;
		padding: 0em 2em;

		.sub-title {
			margin-bottom: 2.5em;
			font-size: 1.7rem;
		}

		.contact-box {
			.contact-dates {
				.data-container {
					margin: 2em 0em;
					padding: 4em 3em;

					.title {
						margin-bottom: 2em;
						padding-bottom: 0.3em;
						font-size: 1.9rem;
					}

					.social-media {
						.link {
							margin-bottom: 0.7em;
							font-size: 3.2rem;
						}
					}

					.other-data {
						.phone-number,
						.email-adres {
							margin: 0.8em;
						}
					}
				}
			}

			.adress {
				margin-top: 3.5em;
				margin-bottom: 1.5em;
				font-size: 1.7rem;
			}

			.map {
				margin-bottom: 2.5em;
			}
		}
	}

	// footer
	.footer {
		margin-top: 1.5em;

		&__bottom {
			padding: 2em;
		}
	}
}

@media (min-width: 768px) {
	.head-title {
		font-size: 2.5rem;
	}

	//hero-banner
	.hero-banner {
		height: 55vh;

		.hero__text {
			p {
				font-size: 1.8rem;
			}

			h1 {
				font-size: 3.2rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 2em;

		.images-section {
			margin: 1.5em 0em;

			.img-box {
				.img {
					margin-bottom: 1.5em;
					width: 80%;
				}
			}
		}
	}

	//calculators
	.calculators {
		.about-calculator {
			margin-bottom: 1.5em;
			line-height: 2.2em;
		}

		.links-box {
			.link {
				width: 85%;
				font-size: 1.7rem;
			}
		}
	}

	//contact
	.contact {
		.sub-title {
			font-size: 1.9rem;
		}

		.contact-box {
			.contact-dates {
				.data-container {
					padding: 4em;

					.title {
						padding-bottom: 0.4em;
						font-size: 2rem;
					}

					.social-media {
						.link {
							font-size: 3.5rem;
						}
					}
				}
			}

			.adress {
				margin-top: 4em;
				font-size: 1.9rem;
			}

			.map {
				margin-bottom: 4em;
			}
		}
	}

	// footer
	.footer {
		margin-top: 2em;

		&__top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 2.5em 3em;
			color: c.$white;
			font-size: 1.5rem;

			.company-logo {
				a {
					color: c.$white;
					text-decoration: none;
					font-size: 2.3rem;
					transition: color 0.3s;

					i {
						font-size: 3.2rem;
					}

					&:hover {
						color: c.$very-light-cyan;
					}
				}
			}

			.links-box {
				display: flex;
				flex-direction: row;

				.link {
					display: flex;
					flex-direction: column;
					margin-right: 2.5em;

					&-head {
						margin-bottom: 0.5em;
						font-size: 2rem;
					}

					&-item {
						margin-bottom: 1em;
						text-decoration: none;
						color: c.$white;
						font-size: 1.5rem;
						transition: color 0.3s;

						&:hover {
							color: c.$light-cyan;
						}
					}
				}
			}
		}

		.line {
			display: block;
			height: 1px;
			width: 100%;
			background-color: c.$white;
		}
	}
}

@media (min-width: 992px) {
	// header
	.header {
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0em 1em;

			.hamburger {
				display: none;
			}

			.nav {
				&-desktop {
					display: flex;
				}

				&-mobile {
					display: none;
				}

				&__link {
					margin: 0em;
					padding: 2em 1.8em;
					font-size: 1.5rem;
					transition: background-color 0.3s, color 0.3s, font-weight 0.3s, transform 0.3s;

					&:hover {
						background-color: c.$white;
						color: c.$black;
						font-weight: normal;
						transform: scale(1);
					}
				}
			}
		}
	}

	//hero-banner
	.hero-banner {
		background-image: url('../../dist/img/header-img-big.jpg');

		.hero__text {
			p {
				margin-bottom: 0.1em;
				font-size: 2.2rem;
			}

			h1 {
				font-size: 3.8rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 3em;

		.head-title {
			font-size: 2.7rem;
		}

		.images-section {
			flex-direction: row;
			margin: 2em 0em;

			.img-box {
				.img {
					margin: 0em 2em;
					width: 95%;
				}
			}
		}
	}

	//calculators
	.calculators {
		.about-calculator {
			margin-bottom: 2em;
		}

		.links-box {
			.link {
				width: 75%;
			}
		}
	}

	//contact
	.contact {
		.contact-box {
			background-color: c.$black;
			border-radius: 0.8em;
			margin: 1em 0em;
			padding: 2em;

			.contact-dates {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				.data-container {
					width: 50%;

					.title {
						margin-bottom: 1.5em;
						font-size: 2.3rem;
					}
				}
			}

			.map-box {
				width: 50%;

				.adress {
					margin-top: 0em;
					margin-bottom: 1em;
					color: c.$white;
				}

				.map {
					width: 100%;
					margin-bottom: 0em;
				}
			}
		}
	}

	// footer
	.footer {
		margin-top: 5.5em;

		&__top {
			padding: 3.5em;

			.company-logo {
				a {
					font-size: 2.7rem;

					i {
						font-size: 3.7rem;
					}
				}
			}

			.links-box {
				.link {
					margin-right: 3em;

					&-head {
						font-size: 2.2rem;
					}

					&-item {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	//hero-banner
	.hero-banner {
		height: 55vh;
		background-size: cover;
		background-position-y: 10%;
	}

	//calculators
	.calculators {
		.links-box {
			.link {
				width: 65%;
			}
		}
	}

	//contact
	.contact {
		.contact-box {
			padding: 3em;

			.map-box {
				.adress {
					margin-bottom: 1.5em;
				}
			}
		}
	}
}
