@use 'colors' as c;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 125px;
}

body {
	padding-top: 3.2em;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	overflow-x: hidden;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.head-title {
	position: relative;
	margin: 2em 0em;
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
	color: c.$navy;
}

.bold {
	font-weight: bold;
}

// header
.header {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 0;
	width: 100%;
	background-color: c.$navy;
	z-index: 1000;

	.navbar {
		position: relative;
		padding: 1em;

		.brand-logo {
			a {
				text-decoration: none;
				font-size: 2.2rem;
				color: c.$white;
				transition: color 0.3s;

				&:hover {
					color: c.$blues;
				}
			}

			i {
				font-size: 2.8rem;
			}
		}

		.hamburger {
			position: absolute;
			top: 2.2em;
			right: 1em;
			transform: translateY(-50%);
			z-index: 500;

			&-inner,
			&-inner:before,
			&-inner:after {
				background-color: c.$white;
				z-index: 500;
			}

			&:focus {
				outline: none;
			}
		}

		.nav {
			&-desktop {
				display: none;
			}

			.active {
				background-color: c.$black;
				font-weight: bold;
			}

			&-mobile {
				position: fixed;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: c.$navy;
				overflow-y: hidden;
				transform: translateX(-102%);
				transition: transform 0.3s;
				z-index: 10;

				&--active {
					transform: translateX(0);
				}
			}

			&__link {
				position: relative;
				display: inline-block;
				margin: 0.5em 0em;
				padding: 0.5em 1em;
				text-decoration: none;
				font-size: 1.7rem;
				color: c.$white;
				transition: font-weight 0.3s, transform 0.3s;

				&:hover {
					font-weight: bold;
					transform: scale(1.2);
				}
			}
		}
	}
}

//hero-banner
.hero-banner {
	position: relative;
	height: 50vh;
	background-image: url('../../dist/img/header-img-small.jpg');
	background-size: cover;
	background-position-y: 50%;
	z-index: 0;

	.hero__shadow {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(7, 22, 46, 0.668);
		z-index: -1;
	}

	.hero__text {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: start;
		padding: 3em 1.5em;
		width: 100%;
		height: 100%;
		color: c.$white;
		z-index: 1;

		p {
			margin-bottom: 0.3em;
			font-size: 1.5rem;
		}

		h1 {
			font-size: 2.2rem;
		}
	}
}

//aboutus
.aboutus {
	padding: 0em 1em;

	&-text {
		.para-text {
			margin-bottom: 1.2em;
			font-size: 1.5rem;
			line-height: 1.7em;
		}
	}

	.images-section {
		display: flex;
		flex-direction: column;
		margin-top: 1.5em;

		.img-box {
			display: flex;
			justify-content: center;
			align-items: center;

			.img {
				margin-bottom: 1em;
				width: 100%;
				filter: saturate(0);
				transition: transform 0.3s;

				&:hover {
					transform: scale(0.97);
				}
			}
		}
	}
}

//calculators
.calculators {
	padding: 0em 1em;

	.head-title {
		.fa-calculator {
			margin-right: 0.2em;
		}
	}

	.about-calculator {
		margin-bottom: 1em;
		font-size: 1.5rem;
		line-height: 1.7em;
	}

	.links-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		.link {
			display: inline-block;
			text-align: center;
			margin: 1em;
			padding: 0.7em 1.5em;
			width: 95%;
			font-size: 1.5rem;
			font-weight: bold;
			text-decoration: none;
			background-color: c.$blue;
			color: c.$white;
			cursor: pointer;
			transition: background-color 0.3s, transform 0.3s;

			&:hover {
				background-color: c.$light-navy;
				transform: scale(0.97);
			}
		}
	}
}

//contact
.contact {
	margin-top: 3em;
	padding: 0em 1em;

	.head-title {
		margin-bottom: 1.5em;
	}

	.sub-title {
		margin-bottom: 2em;
		text-align: center;
		font-size: 1.6rem;
		font-weight: bold;
		color: c.$light-navy;
	}

	.contact-box {
		.contact-dates {
			.data-container {
				margin: 1em 0em;
				padding: 2em;
				background-color: c.$black;

				.link,
				.phone-number,
				.email-adres {
					color: c.$white;

					.fa-solid {
						margin-right: 0.2em;
					}
				}

				.title {
					margin-bottom: 1em;
					padding-bottom: 0.2em;
					font-size: 1.7rem;
					text-align: center;
					text-transform: uppercase;
					color: c.$white;
					border-bottom: 1px solid white;
				}

				.social-media {
					display: flex;
					justify-content: space-evenly;

					.fa-instagram:hover {
						color: c.$instagram;
					}
					.fa-twitter:hover {
						color: c.$twitter;
					}
					.fa-youtube:hover {
						color: c.$youtube;
					}

					.link {
						margin-bottom: 0.5em;
						font-size: 2.8rem;
						text-decoration: none;
						cursor: pointer;
						transition: color 0.3s, transform 0.3s;

						&:hover {
							transform: scale(0.95);
						}
					}
				}

				.other-data {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.phone-number,
					.email-adres {
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 0.5em;

						.fa-solid {
							margin-right: 0.5em;
							font-size: 2.5rem;
						}
					}
				}
			}
		}

		.adress {
			margin-top: 3em;
			margin-bottom: 1em;
			font-size: 1.6rem;
			font-weight: bold;
			text-align: center;
			color: c.$light-navy;
		}

		.map {
			margin-bottom: 2em;
			width: 100%;
		}
	}
}

// footer
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 1em;
	background-color: c.$navy;

	&__top {
		display: none;
	}

	.line {
		display: none;
	}

	&__bottom {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;
		color: c.$white;
		font-size: 1.4rem;
	}
}

// calories-calculator
.calories-calculator {
	padding: 0em 1em;

	.info-text {
		margin-bottom: 3em;
		text-align: center;
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: uppercase;
		color: c.$very-light-navy;
	}

	.label {
		display: inline-block;
		text-align: center;
		padding: 1em;
		width: 30%;
		background-color: c.$myblue;
		color: c.$white;
		font-size: 1.5rem;
	}

	.label-two {
		display: inline-block;
		margin-bottom: 0.5em;
		text-align: center;
		padding: 1em;
		background-color: c.$myblue;
		color: c.$white;
		font-size: 1.5rem;
	}

	.main-container {
		display: flex;
		justify-content: start;
		align-items: center;
		margin-bottom: 1em;
	}

	.container-one {
		.boxes {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: start;
			width: 70%;

			.box {
				margin-left: 1em;
				margin-bottom: 0.3em;
			}
		}
	}

	.container-two {
		input {
			padding: 1.1em;
			width: 70%;
			text-align: center;
			border: 2px solid c.$myblue;
			font-size: 1.3rem;

			&:focus {
				outline: none;
				background-color: c.$myblue-light;
			}
		}
	}

	.container {
		margin-bottom: 1em;
		display: flex;
		flex-direction: column;

		select {
			margin-bottom: 1em;
			padding: 1.2em;
			border: 1px solid c.$black;
			background: none;
			font-size: 1.4rem;
			text-align: center;

			&:focus {
				outline: none;
			}
		}

		.activity-level-info {
			p {
				margin-bottom: 0.5em;
				font-size: 1.4rem;
			}
		}
	}

	.btn-section {
		display: flex;
		justify-content: end;
		align-items: center;
		margin-bottom: 2em;

		.calc-btn {
			padding: 1em 4em;
			font-size: 1.6rem;
			text-transform: uppercase;
			background-color: c.$black;
			color: c.$white;
			border: none;
			transition: transform 0.3s, background-color .3s;
			cursor: pointer;

			&:hover {
				transform: scale(0.95);
				background-color: c.$myblue-dark;
			}
		}
	}

	.error-section {
		position: fixed;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 2.5em auto;
		padding: 4em 2em;
		width: 90%;
		border-radius: 0.8em;
		background-color: c.$black;
		-webkit-box-shadow: 0px 0px 35px 3px rgba(2, 62, 138, 1);
		-moz-box-shadow: 0px 0px 35px 3px rgba(2, 62, 138, 1);
		box-shadow: 0px 0px 35px 3px rgba(2, 62, 138, 1);

		.error {
			text-align: center;
			font-size: 1.6rem;
			font-weight: bold;
			color: rgb(230, 3, 3);
		}

		.close-error-btn {
			margin-top: 2em;
			padding: 0.8em 4.5em;
			font-size: 1.5rem;
			text-transform: uppercase;
			border: none;
			background-color: c.$white;
			color: c.$black;
			transition: border-radius 0.3s;
			cursor: pointer;

			&:hover {
				border-radius: 3em;
			}
		}
	}

	.result {
		position: fixed;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 4em 1.5em;
		border-radius: 0.8em;
		background-color: c.$black;
		-webkit-box-shadow: 0px 0px 35px 3px rgba(2, 62, 138, 1);
		-moz-box-shadow: 0px 0px 35px 3px rgba(2, 62, 138, 1);
		box-shadow: 0px 0px 35px 3px rgba(2, 62, 138, 1);

		.text {
			margin-bottom: 2em;
			font-size: 1.6rem;
			color: c.$white;

			.kcal {
				font-weight: bold;
			}
		}

		.close {
			padding: 0.8em 5em;
			font-size: 1.5rem;
			text-transform: uppercase;
			border: none;
			background-color: c.$white;
			color: c.$black;
			transition: border-radius 0.3s;
			cursor: pointer;

			&:hover {
				border-radius: 3em;
			}
		}
	}

	.check-climat {
		margin: 1em 0em;
		padding: 1em;
		background-color: c.$myblue;
		text-align: center;

		&__label {
			font-size: 1.5rem;
			color: c.$white;
		}
	}
}

//BLOG
.blog {
	padding: 0em 1em;

	.articles {
		.table-of-contents {
			margin-bottom: 2em;

			&__title {
				margin-bottom: 1.2em;
				font-size: 1.6rem;
				text-align: center;
				text-transform: uppercase;
				color: c.$light-navy;
			}

			&__list {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				list-style: none;

				&-element {
					display: block;
					margin-bottom: 0.3em;
					padding: 0.5em 1em;
					width: 100%;
					max-width: 500px;
					text-align: center;
					background-color: c.$navy;
					border-radius: 0.8em;
					cursor: pointer;
					transition: background-color 0.3s;

					&--link {
						text-decoration: none;
						color: c.$white;
						font-size: 1.4rem;
					}

					&:hover {
						background-color: c.$black;
					}
				}
			}
		}

		.article {
			margin-bottom: 5em;
			padding: 1em;
			border-radius: 0.5em;
			-webkit-box-shadow: 0px 0px 22px -2px rgba(134, 134, 134, 1);
			-moz-box-shadow: 0px 0px 22px -2px rgba(134, 134, 134, 1);
			box-shadow: 0px 0px 22px -2px rgba(134, 134, 134, 1);

			.hero-img {
				position: relative;
				margin-bottom: 1.2em;
				padding: 9em 0em;
				background-size: cover;
				background-position: center;
				border-radius: 0.5em;
				overflow: hidden;
				z-index: -1;

				.hero__text {
					position: absolute;
					display: flex;
					justify-content: center;
					align-items: center;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					padding: 0em 1em;
					color: c.$white;
					z-index: 5;

					.article-title {
						font-size: 1.9rem;
						line-height: 2.3rem;
					}
				}

				.hero-shadow {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #0000009e;
					z-index: 0;
				}
			}

			.article-text {
				h3 {
					margin-bottom: 0.2em;
				}

				p {
					margin-bottom: 1.5em;
					font-size: 1.5rem;
					line-height: 1.9em;

					.kcal-link {
						text-decoration: none;
						font-weight: bold;
						color: c.$navy;
					}
				}
			}
		}

		.article-one {
			.hero-main-one {
				background-image: url('../../dist/img/hero-food.jpg');
			}

			.hero-second-one {
				background-image: url('../../dist/img/vegetable-skewer-3317060_640.jpg');
			}
		}

		.article-two {
			.hero-main-two {
				background-image: url('../../dist/img/andrew-ren-BhspCN17HT8-unsplash.jpg');
			}

			.hero-second-two {
				background-image: url('../../dist/img/giorgio-trovato-Hj4QiV9MTi8-unsplash.jpg');
			}
		}
	}
}

@media (min-width: 568px) {
	.head-title {
		font-size: 2.3rem;
	}

	// header
	.header {
		.navbar {
			.brand-logo {
				a {
					font-size: 2.7rem;
				}

				i {
					font-size: 3.5rem;
				}
			}

			.nav {
				&__link {
					font-size: 1.6rem;
				}
			}
		}
	}

	//hero-banner
	.hero-banner {
		height: 70vh;
		background-position-y: 5%;

		.hero__text {
			p {
				font-size: 1.7rem;
			}

			h1 {
				font-size: 2.7rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 2em;

		&-text {
			.para-text {
				font-size: 1.6rem;
				line-height: 2em;
			}
		}

		.images-section {
			.img-box {
				.img {
					margin-bottom: 1.5em;
					width: 90%;
				}
			}
		}
	}

	.calculators {
		padding: 0em 2em;

		.about-calculator {
			font-size: 1.6rem;
		}
	}

	// calories-calculator
	.calories-calculator {
		padding: 0em 3em;

		.info-text {
			margin-bottom: 3em;
			font-size: 1.7rem;
		}

		.label {
			font-size: 1.6rem;
		}

		.label-two {
			font-size: 1.6rem;
		}

		.container-two {
			input {
				padding: 1em;
				font-size: 1.5rem;
			}
		}

		.container {
			select {
				font-size: 1.5rem;
			}

			.activity-level-info {
				p {
					margin-bottom: 0.7em;
				}
			}
		}

		.btn-section {
			.calc-btn {
				padding: 1em 5em;
				font-size: 1.8rem;
			}
		}
	}

	//contact
	.contact {
		margin-top: 4em;
		padding: 0em 2em;

		.sub-title {
			margin-bottom: 2.5em;
			font-size: 1.7rem;
		}

		.contact-box {
			.contact-dates {
				.data-container {
					margin: 2em 0em;
					padding: 4em 3em;

					.title {
						margin-bottom: 2em;
						padding-bottom: 0.3em;
						font-size: 1.9rem;
					}

					.social-media {
						.link {
							margin-bottom: 0.7em;
							font-size: 3.2rem;
						}
					}

					.other-data {
						.phone-number,
						.email-adres {
							margin: 0.8em;
						}
					}
				}
			}

			.adress {
				margin-top: 3.5em;
				margin-bottom: 1.5em;
				font-size: 1.7rem;
			}

			.map {
				margin-bottom: 2.5em;
			}
		}
	}

	// footer
	.footer {
		margin-top: 1.5em;

		&__bottom {
			padding: 2em;
		}
	}

	//CALCULATOR
	.calories-calculator {
		.error-section {
			padding: 5em 2em;

			.error {
				font-size: 2rem;
			}

			.close-error-btn {
				margin-top: 2.5em;
				padding: 1em 5em;
			}
		}

		.result {
			padding: 4em 8em;

			.text {
				font-size: 1.7rem;
			}

			.close {
				padding: 0.8em 5em;
				font-size: 1.7rem;
			}
		}
	}

	//BLOG
	.blog {
		padding: 0em 2em;

		.head-title {
			font-size: 2.5rem;
		}

		.articles {
			.table-of-contents {
				margin-bottom: 3em;

				&__title {
					margin-bottom: 1.5em;
					font-size: 1.9rem;
				}

				&__list {
					&-element {
						margin-bottom: 0.7em;

						&--link {
							font-size: 1.6rem;
						}
					}
				}
			}

			.article {
				padding: 1em 1.5em;

				.hero-img {
					margin-bottom: 1.5em;
					padding: 10em 0em;

					.hero__text {
						padding: 0em 2em;

						.article-title {
							font-size: 2.3rem;
							line-height: 2.7rem;
						}
					}
				}

				.article-text {
					h3 {
						margin-bottom: 0.5em;
						font-size: 1.9rem;
					}

					p {
						margin-bottom: 1.8em;
						font-size: 1.6rem;
						line-height: 2em;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	// header
	.header {
		.navbar {
			.nav {
				&__link {
					font-size: 2.1rem;
				}
			}
		}
	}

	.head-title {
		font-size: 2.5rem;
	}

	//hero-banner
	.hero-banner {
		height: 55vh;

		.hero__text {
			p {
				font-size: 1.8rem;
			}

			h1 {
				font-size: 3.2rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 2em;

		.images-section {
			margin: 1.5em 0em;

			.img-box {
				.img {
					margin-bottom: 1.5em;
					width: 80%;
				}
			}
		}
	}

	//calculators
	.calculators {
		.about-calculator {
			margin-bottom: 1.5em;
			line-height: 2.2em;
		}

		.links-box {
			.link {
				width: 85%;
				font-size: 1.7rem;
			}
		}
	}

	//contact
	.contact {
		.sub-title {
			font-size: 1.9rem;
		}

		.contact-box {
			.contact-dates {
				.data-container {
					padding: 4em;

					.title {
						padding-bottom: 0.4em;
						font-size: 2rem;
					}

					.social-media {
						.link {
							font-size: 3.5rem;
						}
					}
				}
			}

			.adress {
				margin-top: 4em;
				font-size: 1.9rem;
			}

			.map {
				margin-bottom: 4em;
			}
		}
	}

	// footer
	.footer {
		margin-top: 2em;

		&__top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 2.5em 3em;
			color: c.$white;
			font-size: 1.5rem;

			.company-logo {
				a {
					color: c.$white;
					text-decoration: none;
					font-size: 2.3rem;
					transition: color 0.3s;

					i {
						font-size: 3.2rem;
					}

					&:hover {
						color: c.$very-light-cyan;
					}
				}
			}

			.links-box {
				display: flex;
				flex-direction: row;

				.link {
					display: flex;
					flex-direction: column;
					margin-right: 2.5em;

					&-head {
						margin-bottom: 0.5em;
						font-size: 2rem;
					}

					&-item {
						margin-bottom: 1em;
						text-decoration: none;
						color: c.$white;
						font-size: 1.5rem;
						transition: color 0.3s;

						&:hover {
							color: c.$light-cyan;
						}
					}
				}
			}
		}

		.line {
			display: block;
			height: 1px;
			width: 100%;
			background-color: c.$white;
		}
	}

	// calories-calculator
	.calories-calculator {
		padding: 0em 2.5em;

		.info-text {
			margin-bottom: 3.5em;
			font-size: 1.9rem;
		}

		.container {
			select {
				padding: 1em;
				font-size: 1.7rem;
			}

			.activity-level-info {
				p {
					font-size: 1.4rem;
					margin-bottom: 1em;
				}
			}
		}

		.btn-section {
			.calc-btn {
				font-size: 1.7rem;
			}
		}

		.error-section {
			width: 80%;

			.close-error-btn {
				margin-top: 3em;
				padding: 1em 5em;
			}
		}

		.result {
			margin: 5em auto;
			padding: 4em 1em;
			width: 100%;
			max-width: 700px;

			.text {
				margin-bottom: 3em;
				font-size: 1.8rem;
			}
		}
	}

	//BLOG
	.blog {
		padding: 0em 2em;

		.head-title {
			font-size: 2.8rem;
		}

		.articles {
			.table-of-contents {
				margin-bottom: 4em;

				&__title {
					margin-bottom: 2em;
					font-size: 2.2rem;
				}

				&__list {
					&-element {
						margin-bottom: 1em;

						&--link {
							font-size: 1.7rem;
						}
					}
				}
			}

			.article {
				padding: 1em 2em;

				.hero-img {
					margin-bottom: 1.8em;

					.hero__text {
						padding: 0em 2.5em;

						.article-title {
							font-size: 2.5rem;
							line-height: 2.8rem;
						}
					}
				}

				.article-text {
					h3 {
						font-size: 2.1rem;
					}

					p {
						margin-bottom: 2em;
						line-height: 2.1em;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	// header
	.header {
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0em 1em;

			.hamburger {
				display: none;
			}

			.nav {
				&-desktop {
					display: flex;
				}

				&-mobile {
					display: none;
				}

				&__link {
					margin: 0em;
					padding: 2em 1.8em;
					font-size: 1.5rem;
					transition: background-color 0.3s, color 0.3s, font-weight 0.3s, transform 0.3s;

					&:hover {
						background-color: c.$white;
						color: c.$black;
						font-weight: normal;
						transform: scale(1);
					}
				}
			}
		}
	}

	//hero-banner
	.hero-banner {
		background-image: url('../../dist/img/header-img-big.jpg');

		.hero__text {
			p {
				margin-bottom: 0.1em;
				font-size: 2.2rem;
			}

			h1 {
				font-size: 3.8rem;
			}
		}
	}

	//aboutus
	.aboutus {
		padding: 0em 3em;

		.head-title {
			font-size: 2.7rem;
		}

		.images-section {
			flex-direction: row;
			margin: 2em 0em;

			.img-box {
				.img {
					margin: 0em 2em;
					width: 95%;
				}
			}
		}
	}

	//calculators
	.calculators {
		.about-calculator {
			margin-bottom: 2em;
		}

		.links-box {
			.link {
				width: 75%;
			}
		}
	}

	//contact
	.contact {
		.contact-box {
			background-color: c.$black;
			margin: 1em 0em;
			padding: 2em;

			.contact-dates {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;

				.data-container {
					width: 50%;

					.title {
						margin-bottom: 1.5em;
						font-size: 2.3rem;
					}
				}
			}

			.map-box {
				width: 50%;

				.adress {
					margin-top: 0em;
					margin-bottom: 1em;
					color: c.$white;
				}

				.map {
					width: 100%;
					margin-bottom: 0em;
				}
			}
		}
	}

	// footer
	.footer {
		margin-top: 5.5em;

		&__top {
			padding: 3.5em;

			.company-logo {
				a {
					font-size: 2.7rem;

					i {
						font-size: 3.7rem;
					}
				}
			}

			.links-box {
				.link {
					margin-right: 3em;

					&-head {
						font-size: 2.2rem;
					}

					&-item {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	//calculator {
	.calories-calculator {
		.error-section {
			width: 100%;
			max-width: 850px;
		}
	}

	//BLOG
	.blog {
		padding: 0em 4em;

		.head-title {
			font-size: 3.2rem;
		}

		.articles {
			.table-of-contents {
				margin-bottom: 5em;

				&__title {
					font-size: 2.7rem;
				}

				&__list {
					&-element {
						margin-bottom: 1.2em;

						&--link {
							font-size: 2rem;
						}
					}
				}
			}

			.article {
				padding: 3em 3em;

				.hero-img {
					margin-bottom: 2em;

					.hero__text {
						padding: 0em 3em;

						.article-title {
							font-size: 2.7rem;
							line-height: 3rem;
						}
					}
				}

				.article-text {
					p {
						margin-bottom: 2.2em;
					}
				}
			}
		}

		.article-one {
			.hero-main-one {
				background-image: url('../../dist/img/hero-food.jpg');
			}

			.hero-second-one {
				background-image: url('../../dist/img/vegetable-skewer-3317060_1920.jpg');
			}
		}

		.article-two {
			.hero-main-two {
				background-image: url('../../dist/img/andrew-ren-BhspCN17HT8-unsplash\ \(2\).jpg');
			}

			.hero-second-two {
				background-image: url('../../dist/img/giorgio-trovato-Hj4QiV9MTi8-unsplash\ \(1\).jpg');
			}
		}
	}
}

@media (min-width: 1200px) {
	//hero-banner
	.hero-banner {
		height: 55vh;
		background-size: cover;
		background-position-y: 10%;
	}

	//calculators
	.calculators {
		.links-box {
			.link {
				width: 65%;
			}
		}
	}

	//contact
	.contact {
		.contact-box {
			padding: 3em;

			.map-box {
				.adress {
					margin-bottom: 1.5em;
				}
			}
		}
	}

	// calories-calculator
	.calories-calculator {
		.container {
			.activity-level-info {
				p {
					font-size: 1.5rem;
					margin-bottom: 1.2em;
				}
			}
		}

		.btn-section {
			.calc-btn {
				padding: 1em 7em;
				font-size: 1.9rem;
			}
		}
	}
}
